nav {
    background-color: rgb(181, 2, 2);
    padding: 10px 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

nav ul li {
    margin-right: 20px;
    color: white;
    cursor: pointer;
}

nav ul li:first-child {
    margin-right: auto;
}

nav ul li img.cfc {
    width: 200px;
    height: auto;
    padding: 10px;
    margin-left: 10px;
}

nav ul li:hover {
    color: yellow;
    transition: color 0.3s;
}